<html>
	<head>
		
		<title>My Hospital</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<link rel="icon" type="image/gif" href="/favicon.ico">
	</head>
	<body>

		<div class="jumbotron text-center" style="margin-bottom:0">
			<h1>Hospital Admission Application Form</h1>
			<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Click Me Please</button>
			<div id="demo" class="collapse">
			  WELCOME TO THE DATA REGISTRY......!!!!!!
			</div>
		  </div>

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>                        
				</button>
				
			  </div>
			  <div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
				  <li class="active"><a href="/">Home</a></li>
				  <li><a href="/users/add">Add New Patient</a></li>
				  <li><a href="/users">All Patient List</a></li>
				</ul>
			  </div>
			</div>
		  </nav>
		</body>
		</html>
		